# Allure (локальные файлы, не нужны в репозитории)
.allure/
allure-results/
allure-report/

# IntelliJ IDEA (исключить всю папку)
.idea/

# Maven (локальные файлы)
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Mac OS
.DS_Store

# Логи и временные файлы
*.log
*.tmp

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store