<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SimbirSoft Test Suite" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="com.iuliieta.tests.listeners.AllureListener"/>
    </listeners>

    <test name="Form Fields Tests">
        <classes>
            <class name="com.iuliieta.tests.FormFieldsTest"/>
        </classes>
    </test>

</suite>